@import "reset";
@import "normalize";
@import "utils";

/* Custom Resets */
html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans Hebrew', sans-serif;
	background-color: #ededed;
	color: #494c4d;
}
a {
	color: inherit;
	text-decoration: none;
}
/* EOF Custom Resets */

$transition: all 0.3s ease-in-out;

.header {
	height: 125px;
	padding: 20px 0;
	text-align: center;

	.home-link {
		display: inline-block;
		height: 100%;

		.logo {
			height: 100%;
		}
	}
}

.main {
	font-size: 0;
	background-color: #494c4d;
}

.profile-wrapper {
	width: 50%;
	float: right;
	overflow: hidden;
}

.profile {
	width: 100%;
	opacity: 0.8;
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;

	&:hover {
		opacity: 1;
		transform: scale(1);
	}
}

.details {
	width: 48%;
	padding-top: 10px;
	float: left;
	font-size: 18px;
	color: #fff;
	list-style: none;
}

.detail {
	display: block;
	padding: 10px 0;

	&:hover {
		.icon {
			transform: scale(1.2);
		}

		.icon-text:after {
			width: 100%;
		}
	}
}

.link-row {
	display: block;
}

.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	vertical-align: bottom;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
	transform: scale(1);
	transition: $transition;

	
	&.website {
		background-color: #46a39e;
		background-image: url(images/0001-home.svg);
	}

	&.facebook {
		background-color: #3b5998;
		background-image: url(images/0397-facebook.svg);
	}

	&.location {
		background-color: #fcb040;
		background-image: url(images/0072-location.svg);
	}

	&.phone {
		background-color: #e579b0;
		background-image: url(images/0067-phone.svg);
	}

	&.email {
		background-color: #da2027;
		background-image: url(images/0070-envelop.svg);
	}
}

.icon-text {
	position: relative;
	display: inline-block;
	line-height: 30px;

	&:after {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 1px;
		background-color: #fff;
		content: '';
		transition: $transition;
	}
}

.text {
	font-size: 50px;
	padding: 30px 0;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	.header {
		height: 90px;
	}

	.profile-wrapper,
	.details {
		float: none;
		width: 100%;
	}

	.profile {
		opacity: 1;
		transform: scale(1);
	}
	
	.details {
		padding: 20px 50px;
		box-sizing: border-box;
	}

	.detail:hover {
		.icon {
			transform: scale(1);
		}
	}

	.icon-text:after {
		display: none;
	}

	.text {
		padding: 20px 0;
		font-size: 50px;
	}
}

@media only screen and (max-width: 640px) {
	.header {
		height: 60px;
		padding: 10px 0;
	}
	.details {
		padding: 10px 30px;
		font-size: 12px;
	}
	
	.detail {
		padding: 5px 0;
	}

	.icon {
		width: 20px;
		height: 20px;
	}

	.icon-text {
		line-height: 20px;
	}

	.text {
		padding: 10px 0;
		font-size: 30px;
	}
}